<!DOCTYPE html>
<html>
    <h1 style="display: flex;justify-content: center;">Create Account</h1>
    <body>
        <form method="POST">
            <div style="display: flex;justify-content:center;">
                <table style="font-size: 20px;border-spacing: 10px 10px;">
                    <tr>
                        <td>
                            <label>Name</label>
                        </td>
                        <td>
                            <input name="name" type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Mobile Number</label>
                        </td>
                        <td>
                            <input name="number" type="tel"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Address</label>
                        </td>
                        <td>
                            <input name="address" type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>G Mail</label>
                        </td>
                        <td>
                            <input name="gmail" type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Username</label>
                        </td>
                        <td>
                            <input name="username" type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Password</label>
                        </td>
                        <td>
                            <input name="password" type="password"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Re-type your password</label>
                        </td>
                        <td>
                            <input name="password_re" type="password"/>
                        </td>
                    </tr>
                </table>
                </div>
                <div style="margin-top: 25px;display: flex;justify-content: center;">
                    <button name="create" value="sign_in" type="submit" style="margin-left: 10px;padding: 5px;">Sign in</button>
                    <button name="create" value="cancel" type="submit" style="margin-left: 10px;padding: 5px;">Cancel</button>
                </div>
        </form>
    </body>
</html>