<!DOCTYPE html>
<html>
    <h1>Account Recovery</h1>
    <body style="margin: 15px;">
        <form method="POST">
            <label style="font-size: 20px;size: 20;">Enter your G-Mail : </label>
            <input name="email" placeholder="Enter G Mail"/>
            <div style="display: flux;margin-top:20px;justify-content: center;align-items: center;">
                <button name="f" value="get" style="margin-left:5px;padding: 5px;">Get Code</button>
                <button name="f" value="cancel" style="margin-left:15px;padding: 5px;">Cancel</button>
        </div>
        </form>
    </body>
</html>