<!DOCTYPE html>
<html>
    <h1>Reset Password</h1>
    <body>
        <form name="submit" method="POST" style="font-size: 20px;">
            <table>
                <tr>
                    <td>
                        <p>Verification code : </p>
                    </td>
                    <td>
                        <input name="vcode" type="number">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>New Password : </p>
                    </td>
                    <td>
                        <input type="password" name="pass_n">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Re-Type password : </p>
                    </td>
                    <td>
                        <input type="password" name="pass_r">
                    </td>
                </tr>
            </table>
            <div style="margin-top: 20px;">
                <button type="submit" name="f" value="reset" style="margin-left:5px;padding: 5px;">Reset</button>
                <button name="f" value="cancel" style="margin-left:10px;padding: 5px;">Cancel</button>
        </form>
       </div>
    </body>
</html>