<!DOCTYPE html>

<html>
    <h1>Upload image</h1>
    <body>
        <form style="font-size: 20px;" name="submit" method="POST" enctype="multipart/form-data">
            <div style="margin-left: 5px;margin-top: 30px;">
                <input name="file" type="file" accept="image/*">
            </div>

            <div style="padding: 5px;margin-top: 20px;">
                <button name ="l" value="upload_search" style="margin-left:1px;padding: 5px;font-size: 15px;">Search</button>
                <button name="l" value="cancel_search" style="margin-left:10px;padding: 5px;font-size: 15px;">Cancel</button>
            </div>
        </form>
    </body>
</html>