<!DOCTYPE html>
<html>
    <h1 style="display: flex;justify-content:center;align-items: center;margin-top: 30px;">Welcome To No Missing</h1>
    <style>
        .button-style
        {
            padding: 5px;
            padding-top: 8px;
            padding-bottom: 8px;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 20px;
        }
    </style>
    <body>
        <form method="POST">
            <div style="display:flex;margin-top:50px;justify-content:center;align-items:center;">
                <button class="button-style" name="l" value="add">Complaint Register</button>
                <button class="button-style" name="l" value="search">Search Image</button>
                <button class="button-style" name="l" value="solved">Solved Cases</button>
            </div>
        </form>
    </body>
 </html>