<!DOCTYPE html>
<html>
    <h1>Verificaton Code Sent To Your Email</h1>
    <body>
        <form method="POST">
            <div style="display:flex;margin-top: 30px;">
                <label style="font-size: 25px;">Enter the verification code : </label>
                <input style="padding: 5px;margin-left: 5px;" name="code" type="number">
                <button name="create" value="v_code" style="margin-left:20px;padding:5px;">Submit</button>
           </div>
        </form>
    </body>
</html>