<!DOCTYPE html>
<html>
    <head><h1 style="font-size: 40px;display: flex;justify-content: center;">Login Page</h1></head>
    <link rel="stylesheet" href="link_button.css">
    <body>
        <form method="POST">
            <table style="font-size: 20px;border-spacing: 10px;display: flex;justify-content: center;">
                <tr>
                    <td>
                        <b>Enter Username</b>
                    </td>
                    <td>
                        <input name="username" placeholder="username"/>
                    </td>
                    <tr>
                    <td>
                        <b>Enter Password</b>
                    </td>
                    <td>
                        <input name="password" placeholder="password" type="password"/>
                    </td>
                </tr>
            </table>
            <div style="display: flex;justify-content: center;padding: 5px;margin-top: 10px;">
                <a href="add.html" class="button" name ="l" value="login" style="margin-left:10px;padding: 5px;">Login</a>
                <button name="l" value="cancel" style="margin-left:10px;padding: 5px;">Cancel</button>
            </div>
            <div style="display: flex;justify-content:center;margin-top: 20px;">
                <a class="button_link" href="forget_password.html" type="button" style="display:flex;margin-left: 20px;">Forget Password</a>
                <a href="create_account.html" style="margin-left: 20px;">New User - Register</a>
            </div>
        </form>
    </body>
</html>